force-app/main/default/flows/customer_satisfaction_survey_en.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>pageNamesInOrder_Assignment</name>
        <label>pageNamesInOrder_Assignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>pageNamesInOrder</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>p_12790b4f_dfc5_426b_9757_927788a54055</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pageNamesInOrder</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>p_68f34c95_c978_489f_a446_460d6893d7c7</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pageNamesInOrder</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>thank_you_page</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>p_12790b4f_dfc5_426b_9757_927788a54055</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>c_11cb821e_0548_4147_a776_0ad38090bb76</name>
        <choiceText>Good</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>5.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_3073dcad_b9b1_44bb_a606_4446771ecee7</name>
        <choiceText>4</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>4.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_36509b0a_84eb_403d_a0b2_16566a558373</name>
        <choiceText>2</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>2.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_57f8e554_4fee_4af8_a7f5_aad6ede0ccb9</name>
        <choiceText>Bad</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_5b0b8744_386d_499e_8c1c_6e17d194c6a5</name>
        <choiceText>Bad</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_6c270323_390c_43c9_960a_a2b55afacea2</name>
        <choiceText>3</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>3.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_800e75f1_ca00_48a6_99e3_c5495c438357</name>
        <choiceText>2</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>2.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_8b9f075e_ca77_4f4b_bce9_7e828fc3ce57</name>
        <choiceText>3</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>3.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_92fdddea_6864_4aa4_92e6_41ad88ba48a6</name>
        <choiceText>4</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>4.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_98dd06cc_6630_47ac_adf6_75942dab5e6b</name>
        <choiceText>2</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>2.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_9b669f67_83c7_4d7c_81ca_f213fea4635b</name>
        <choiceText>Good</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>5.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_a01dfa74_edff_4c7e_976f_45306407f6fa</name>
        <choiceText>Good</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>5.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_a11bec0d_b80b_48ec_886b_b1a3e6cfd7c6</name>
        <choiceText>Bad</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_ab8755bc_8244_46a9_b71a_f1418e56eba0</name>
        <choiceText>Bad</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_b47d8b68_b282_43dd_9400_8a20883b19c5</name>
        <choiceText>3</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>3.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_b95483f6_5bae_44b1_9f18_40a482e3d6ed</name>
        <choiceText>2</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>2.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_bb6eb395_c800_47b7_b7b5_12b13642e015</name>
        <choiceText>4</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>4.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_cb9b24ad_71ce_4f07_bf42_1d3c011bf008</name>
        <choiceText>4</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>4.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_f62c5b4a_09ff_4f44_902b_f08cf7d5dce7</name>
        <choiceText>3</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>3.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_fcc2ac5b_b492_43a9_adda_b8c7397f66d4</name>
        <choiceText>Good</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>5.0</numberValue>
        </value>
    </choices>
    <interviewLabel>Customer Satisfaction Survey</interviewLabel>
    <label>Customer Satisfaction Survey</label>
    <processMetadataValues>
        <name>BrandingSet</name>
        <value>
            <stringValue>sb_customer_satisfaction_survey_e_c4cda4d8_0720_4f40_9e2e_5e66151a97e2</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>autoProgressEnabled</name>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>hasWelcomePage</name>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>overrideActiveVersion</name>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>svAddlInfo_EmailSender</name>
        <value>
            <stringValue>ToysRUs Canada &lt;customerservice@toysrus.ca&gt;</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>svAddlInfo_EmailTemplate</name>
        <value>
            <stringValue>Embed_a_Survey_Link_EN_and_FR_1645479186061</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>svAddlInfo_InvitationSharingRole</name>
        <value>
            <stringValue>SurveyOwner</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>svAddlInfo_Language</name>
        <value>
            <stringValue>en_US</stringValue>
        </value>
    </processMetadataValues>
    <processType>Survey</processType>
    <screens>
        <name>p_12790b4f_dfc5_426b_9757_927788a54055</name>
        <label>Page 1</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>p_68f34c95_c978_489f_a446_460d6893d7c7</targetReference>
        </connector>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>defaultValue</name>
                <value>
                    <elementReference>var_q_7b7fcca8_e2f2_4202_b9a9_b4b2ad8f5251_defaultValue</elementReference>
                </value>
            </processMetadataValues>
            <name>q_7b7fcca8_e2f2_4202_b9a9_b4b2ad8f5251</name>
            <choiceReferences>c_5b0b8744_386d_499e_8c1c_6e17d194c6a5</choiceReferences>
            <choiceReferences>c_800e75f1_ca00_48a6_99e3_c5495c438357</choiceReferences>
            <choiceReferences>c_f62c5b4a_09ff_4f44_902b_f08cf7d5dce7</choiceReferences>
            <choiceReferences>c_bb6eb395_c800_47b7_b7b5_12b13642e015</choiceReferences>
            <choiceReferences>c_a01dfa74_edff_4c7e_976f_45306407f6fa</choiceReferences>
            <dataType>Number</dataType>
            <extensionName>survey:runtimeRating</extensionName>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px; font-family: serif;&quot;&gt;How satisfied were you that the representative was friendly and courteous?&lt;/span&gt;&lt;b style=&quot;font-size: 16px; font-family: serif;&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>defaultValue</name>
                <value>
                    <elementReference>var_q_6f434909_a34f_4cac_ac22_4c6f02bbd0dd_defaultValue</elementReference>
                </value>
            </processMetadataValues>
            <name>q_6f434909_a34f_4cac_ac22_4c6f02bbd0dd</name>
            <choiceReferences>c_ab8755bc_8244_46a9_b71a_f1418e56eba0</choiceReferences>
            <choiceReferences>c_98dd06cc_6630_47ac_adf6_75942dab5e6b</choiceReferences>
            <choiceReferences>c_6c270323_390c_43c9_960a_a2b55afacea2</choiceReferences>
            <choiceReferences>c_92fdddea_6864_4aa4_92e6_41ad88ba48a6</choiceReferences>
            <choiceReferences>c_11cb821e_0548_4147_a776_0ad38090bb76</choiceReferences>
            <dataType>Number</dataType>
            <extensionName>survey:runtimeRating</extensionName>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px; font-family: serif;&quot;&gt;How satisfied were you with the representative willingness to help you?&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>defaultValue</name>
                <value>
                    <elementReference>var_q_5d85823b_ada7_4f34_abbb_3d07f7e901ac_defaultValue</elementReference>
                </value>
            </processMetadataValues>
            <name>q_5d85823b_ada7_4f34_abbb_3d07f7e901ac</name>
            <choiceReferences>c_57f8e554_4fee_4af8_a7f5_aad6ede0ccb9</choiceReferences>
            <choiceReferences>c_36509b0a_84eb_403d_a0b2_16566a558373</choiceReferences>
            <choiceReferences>c_8b9f075e_ca77_4f4b_bce9_7e828fc3ce57</choiceReferences>
            <choiceReferences>c_cb9b24ad_71ce_4f07_bf42_1d3c011bf008</choiceReferences>
            <choiceReferences>c_fcc2ac5b_b492_43a9_adda_b8c7397f66d4</choiceReferences>
            <dataType>Number</dataType>
            <extensionName>survey:runtimeRating</extensionName>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px; font-family: serif;&quot;&gt;How satisfied were you that the representative had the knowledge to help you?&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>defaultValue</name>
                <value>
                    <elementReference>var_q_f2df78cd_ab0d_403c_a24e_426b4ebbc1e2_defaultValue</elementReference>
                </value>
            </processMetadataValues>
            <name>q_f2df78cd_ab0d_403c_a24e_426b4ebbc1e2</name>
            <choiceReferences>c_a11bec0d_b80b_48ec_886b_b1a3e6cfd7c6</choiceReferences>
            <choiceReferences>c_b95483f6_5bae_44b1_9f18_40a482e3d6ed</choiceReferences>
            <choiceReferences>c_b47d8b68_b282_43dd_9400_8a20883b19c5</choiceReferences>
            <choiceReferences>c_3073dcad_b9b1_44bb_a606_4446771ecee7</choiceReferences>
            <choiceReferences>c_9b669f67_83c7_4d7c_81ca_f213fea4635b</choiceReferences>
            <dataType>Number</dataType>
            <extensionName>survey:runtimeRating</extensionName>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-family: serif; font-size: 16px;&quot;&gt;Overall, how satisfied were you with your interactions with the representative?&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <pausedText>To pick up where you left off, refresh this page, or open the survey again.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>p_68f34c95_c978_489f_a446_460d6893d7c7</name>
        <label>Page 2</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>defaultValue</name>
                <value>
                    <elementReference>var_q_2f445faf_9409_453d_afca_c9007676f168_defaultValue</elementReference>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>iconType</name>
                <value>
                    <stringValue>check</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>negativeLabel</name>
                <value>
                    <stringValue>{!q_2f445faf_9409_453d_afca_c9007676f168_bnlref_tt}</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>positiveLabel</name>
                <value>
                    <stringValue>{!q_2f445faf_9409_453d_afca_c9007676f168_bplref_tt}</stringValue>
                </value>
            </processMetadataValues>
            <name>q_2f445faf_9409_453d_afca_c9007676f168</name>
            <dataType>Boolean</dataType>
            <extensionName>survey:runtimeBoolean</extensionName>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px; font-family: serif;&quot;&gt;Did we resolve your inquiry during your interaction?&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentInput</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_fd5586d0_fcb1_4656_9ff9_9bef24cd2166</name>
            <dataType>String</dataType>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-family: serif; font-size: 16px;&quot;&gt;What could we have done to serve you better?&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <pausedText>To pick up where you left off, refresh this page, or open the survey again.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>pageNamesInOrder_Assignment</startElementReference>
    <status>Active</status>
    <textTemplates>
        <name>q_2f445faf_9409_453d_afca_c9007676f168_bnlref_tt</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>No</text>
    </textTemplates>
    <textTemplates>
        <name>q_2f445faf_9409_453d_afca_c9007676f168_bplref_tt</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Yes</text>
    </textTemplates>
    <textTemplates>
        <name>thankYouDescriptionTextTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text></text>
    </textTemplates>
    <textTemplates>
        <name>thankYouLabelTextTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-family: serif; font-size: 16px;&quot;&gt;Thank you for completing the survey.&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-family: serif; font-size: 16px;&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;&lt;/b&gt;&lt;img src=&quot;https://toyrusca--c.documentforce.com/file-asset-public/TRUBRULogo169?oid=00D8M0000004cxO&amp;amp;v=1&quot; alt=&quot;TRU-BRU-Logo-16-9&quot;&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>guestUserLang</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>invitationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>pageNamesInOrder</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>previewMode</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>thankYouDescription</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>{!thankYouDescriptionTextTemplate}</stringValue>
        </value>
    </variables>
    <variables>
        <name>thankYouLabel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>{!thankYouLabelTextTemplate}</stringValue>
        </value>
    </variables>
    <variables>
        <name>var_q_2f445faf_9409_453d_afca_c9007676f168_defaultValue</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_q_5d85823b_ada7_4f34_abbb_3d07f7e901ac_defaultValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_q_6f434909_a34f_4cac_ac22_4c6f02bbd0dd_defaultValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_q_7b7fcca8_e2f2_4202_b9a9_b4b2ad8f5251_defaultValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_q_f2df78cd_ab0d_403c_a24e_426b4ebbc1e2_defaultValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
