force-app/main/default/flows/Customer_Satisfaction_Surveys.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Customer_Satisfaction_Survey_0</name>
        <label>Customer Satisfaction Survey</label>
        <locationX>1067</locationX>
        <locationY>815</locationY>
        <actionName>customer_satisfaction_survey_en</actionName>
        <actionType>dynamicSendSurveyInvitation</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>personalInvitation</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>isUnauthenticatedResponse</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipient</name>
            <value>
                <elementReference>CaseContact</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientType</name>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>surveySubjectEntity</name>
            <value>
                <elementReference>subject</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <decisions>
        <name>Check_the_case_type</name>
        <label>Check the case type</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>Role_and_Profile_Check</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Case_Type_Stores</name>
            <conditionLogic>(1 AND (2 OR 3 OR 4 OR 5 OR 6 OR 7)) OR (1 AND 8 AND 9)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Stores</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Disposition_1__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Complaint from Employee</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Disposition_1__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Benefits/Payroll/HR</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Disposition_1__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Employment Opportunity Inquiry</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Disposition_1__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Negative feedback*</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Disposition_1__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Positive feedback</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Disposition_1__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Real Estate – New Store Location Proposal</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Disposition_1__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Return Policy</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Disposition_2__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Red Flag</stringValue>
                </rightValue>
            </conditions>
            <label>Case Type - Stores</label>
        </rules>
        <rules>
            <name>Case_Type_Baby_Registry</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Baby Registry</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Disposition_1__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Promo Bag request</stringValue>
                </rightValue>
            </conditions>
            <label>Case Type - Baby Registry</label>
        </rules>
        <rules>
            <name>Case_Type_Unidentified</name>
            <conditionLogic>1 AND (2 OR 3 OR 4 OR 5)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Unidentified</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Disposition_1__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Chat terminated</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Disposition_1__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Duplicate Email</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Disposition_1__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SM no response required</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Disposition_1__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Spam/Test</stringValue>
                </rightValue>
            </conditions>
            <label>Case Type - Unidentified</label>
        </rules>
        <rules>
            <name>Case_Type_Payment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Payment</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Disposition_1__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Tech - Price Error</stringValue>
                </rightValue>
            </conditions>
            <label>Case Type - Payment</label>
        </rules>
        <rules>
            <name>Case_Type_Product</name>
            <conditionLogic>(1 AND 4 AND (5 OR 6 OR 7 OR 8)) OR (1 AND 9 AND (10 OR 11)) OR (1 AND (2 OR 3))</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Product</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Disposition_1__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Tech - Product Error</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Disposition_1__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Tech-Promotion issue</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Disposition_1__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Quality</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Disposition_2__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Broken/Damaged</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Disposition_2__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Content of Product</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Disposition_2__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Product Does not work as described</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Disposition_2__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Product Missing Part</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Disposition_1__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Recall</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Disposition_2__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cust Not Satisfied with Resolution</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Disposition_2__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Recall Information Request</stringValue>
                </rightValue>
            </conditions>
            <label>Case Type - Product</label>
        </rules>
        <rules>
            <name>Case_Type_Order</name>
            <conditionLogic>(1 AND 2 AND (7 OR 8 OR 9 OR 10)) OR (1 AND 3 AND (11 OR 12)) OR (1 AND 4) OR (1 AND 5 AND (13 OR 14 OR 15 OR 16)) OR (1 AND 6 AND (17 OR 18) )</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Order</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Disposition_1__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Address Correction</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Disposition_1__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cancel</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Disposition_1__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Tech - placing order issue</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Disposition_1__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>WIZMO - Not Shipped</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Disposition_1__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>WIZMO - Shipped Untraceable</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Disposition_2__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Order is released No Warehouse</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Disposition_2__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Order is released SFS</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Disposition_2__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Order is released Drop Ship</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Disposition_2__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Order is Shipped</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Disposition_2__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ISPU Cancel request</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Disposition_2__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SFS Cancel Request</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Disposition_2__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No Warehouse - over 2 days</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Disposition_2__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SFS - over 2 days</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Disposition_2__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No Warehouse - 2 days or less</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Disposition_2__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SFS - 2 days or less</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Disposition_2__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Drop Ship</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Disposition_2__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SFS</stringValue>
                </rightValue>
            </conditions>
            <label>Case Type - Order</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Survey</name>
        <label>Has Survey</label>
        <locationX>935</locationX>
        <locationY>695</locationY>
        <defaultConnector>
            <targetReference>Customer_Satisfaction_Survey_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Survey_Record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Role_and_Profile_Check</name>
        <label>Role and Profile Check</label>
        <locationX>1133</locationX>
        <locationY>455</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Profile_Check</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Toys R Us Customer Service User</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$UserRole.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Tier_1</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$UserRole.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Tier_2</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Survey_Record</targetReference>
            </connector>
            <label>Profile Check</label>
        </rules>
    </decisions>
    <interviewLabel>Customer Satisfaction Surveys {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Customer Satisfaction Surveys</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Survey_Record</name>
        <label>Get Survey Record</label>
        <locationX>935</locationX>
        <locationY>575</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Has_Survey</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SubjectId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SurveySubject</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_the_case_type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>CaseContact</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Record.Contact.Id</elementReference>
        </value>
    </variables>
    <variables>
        <name>CaseContactEN</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Record.Contact.Id</elementReference>
        </value>
    </variables>
    <variables>
        <name>CaseContactFR</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Record.Contact.Id</elementReference>
        </value>
    </variables>
    <variables>
        <name>HasSurvey</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>ProfileId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$User.ProfileId</elementReference>
        </value>
    </variables>
    <variables>
        <name>subject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Record.Id</elementReference>
        </value>
    </variables>
    <variables>
        <name>subjectEN</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Record.Contact.Id</elementReference>
        </value>
    </variables>
    <variables>
        <name>subjectFR</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Record.Contact.Id</elementReference>
        </value>
    </variables>
</Flow>
